.bannerBgimage{
    height: 100vh;
    background:url("images/main.jpg");
    background-size: cover;
    position:relative;

}
.bannerText{
    text-align: right;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:aliceblue;
}
.bannerTitle{
    font-size: 3rem;
    color:rgb(229, 145, 197);
}
.bannerDesc{
    font-size: 5rem;    
    color:rgb(115, 145, 64);
}
.card{
    cursor:pointer;
}
.cards{
    cursor:pointer;
    height: 50vh;
}
.cards:hover{
    background-color: rgb(208, 203, 211);
    border: 4px solid rgb(253, 254, 254);
}
.card:hover{
    background-color: rgb(40, 177, 226);
    border: 4px solid rgb(229, 187, 221);
}
.Bicon{
    width: 100%;
    text-align: center;
    font-size: 40px ;
}
.img-fluid:hover{
    border:5px solid orange;
}
.card-img-top{
    height:50vh;
}
.card-text{
    height:33vh;
}
.slideshow-container {
    display: flex;
    max-width: 100%;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
  }
  
  .slideshow-container img {
    display: none;
    width: 900px;
    height: 600px;
    max-width: 100%;
   
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    color: #000;
    cursor: pointer;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
.prev:hover,.next:hover{
    background-color: yellow;
}